.st0{fill:#050505;stroke:#ED1C24;stroke-width:3;stroke-miterlimit:10;}
.st1{enable-background:new    ;}
.st2{clip-path:url(#SVGID_2_);}
.st3{fill:#050505;}
.st4{fill:#ED1C24;}
.st5{fill:#FC0303;}
.st6{clip-path:url(#SVGID_4_);}
.st7{clip-path:url(#SVGID_6_);}
.st8{fill:#FFFFFF;}
.st9{fill:#FF0000;}
